<!DOCTYPE html>
<html>
<head>
	<title> KKS</title>
</head>
<body>
	<a><%= image_tag("/assets/index.png",hight:'70',width:'70') %></a>

	<%= image_tag("/assets/KS-logo.png",hight:'70',width:'100',align:'right')%>

<h2> <%=@a %> To Find KKS click on <%= link_to 'KKS', master_index_path %> </h2>

	<%= image_tag("/assets/sitting.jpg") %>
<%= Time.now%>
</body>
</html>